* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #151b18f9;
}

.head {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tstart {
  display: flex;
  padding: 23px;
  gap: 15px;
}

.tend {
  display: flex;
  padding: 23px;
  gap: 15px;
}


a {
  color: white;
  text-decoration: none;
}

.main {
  height: 76vh;
  display: flex;

  align-items: center;
  flex-direction: column;
}

.name {
  color: white;
  padding-top: 20px;
  font-size: 150px;
}

.search {
  height: 45px;
  width: 550px;
  border-radius: 25px;
  margin: 20px;
  border: None;
  display: flex;
  flex-direction: row;
  background-color: #4d5156;
}

.searchbar {
  width: 400px;
  height: 45px;
  border: none;
  outline: none;
  background-color: #4d5156;
}

svg {
  width: 24px;
  height: 24px;
  padding: 5px;
  margin: 5px;
  stroke: rgb(194, 187, 187);
  stroke-width: 2;
  fill: none;
}

svg:hover {
  background-color: #8a8686;
  border-radius: 50%;
  cursor: pointer;
}

.mmid{
    margin-bottom: 10px;
}

button {
  height: 25px;
  width: 130px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #435b51eb;
}

button:hover {
  background-color: #2c423aeb;
  cursor: pointer;
}

.lang {
  color: rgb(137, 134, 134);
}

.lang a {
  color: #4916e3;
  font-size: 14px;
}

footer {
  background-color: rgb(23, 22, 22);
  height: 90px;
  display: flex;
  flex-direction: column;
}

.ind {
  border-bottom: 1px solid gray;
  height: 50%;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.pvc {
  height: 50%;
  color: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.rf button{ 
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding-bottom: 10px;
  font-size: 14px;
  margin: 0;
  width: 100%
}

.lf {
  display: flex;
  gap: 10px;
}

.rf {
  display: flex;
  gap: 10px;
}
